@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6c51a7;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  width: 350px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 2rem;
  color: #07001f;
  margin-bottom: 1.2rem;
}
form input {
  width: 90%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
}
.gender {
  width: 65%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
}
.dob {
  width: 55%;
}
.color {
  width: 30%;
  height: 40px;
  padding: 5px;
}
.submit {
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 85%;
  color: #fff;
  cursor: pointer;
  background: rgb(125, 19, 146);
}
.submit:hover {
  background: rgba(125, 19, 146, 0.877);
}
input:focus {
  border: 1px solid rgb(192, 192, 192);
}
.login {
  font-size: 0.8rem;
  margin-top: 1.4rem;
  color: #636363;
}
.login a {
  color: rgb(125, 19, 146);
  text-decoration: none;
}
.back a {
  color: rgb(125, 19, 146);
  text-decoration: none;
}
